body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 0%;
    background: #23313f;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#42aaf5*/

.header h1 {
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-holder {
    width: 10%;
    height: 100%;
    padding-left: 5%;
    display:flex;
    align-items: center;
}

.image-holder img {
    width:100px;
    height: 80%;
    padding: 10%;
    padding-left: 0%;
    min-width: 100px;
    max-width: 100px;
}

.nav-btn-container {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    right: 20;
}

.nav-button {
    width:100%;
    height: 100%;
    background: none;
    border: none;
    font-weight: 700;
    align-self: center;
    text-align: end;

}

.nav-button a {
    height: 100%;
    width:100%;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.active {
    color: orange!important;
}

/*content module*/
.content-holder {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
}


/*


    PROFILE AND USERS MODULE


*/
.profile-info {
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
}

.users-container {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.logged-user-info {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    border: 1px solid black;
    bottom: 0;
    color: white;
    background: #23313f;

}

.logged-user-info img{
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    margin: 10px;
}

.logged-user-info h3 {
    align-self: center;
}
.tit {
    border-bottom: 1px solid black;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    background-color: #23313f!important;
    color: white;

}

/*


    Chat container

*/

.chat-container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

.active-user {
    width: 100%;
    height: 50px;
    min-height: 50px;
    min-width: 200px;
    max-height: 50px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-left: 30px;
    color: white;
    border-bottom: 1px solid black;
    background-color:#23313f;
}

.pointer {
    cursor: pointer;
}
.active-user h3 {
    padding-left: 10px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon-active {
    background-image: url('../images/active.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15px;
    width: 15px;
}


hr {
    background: black;
    width: 300px;
    margin: 0px;
    margin-left: 10px;
}



.profile_photo{
    width: 30px;
    height: 30px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    margin-left: 10px;

}



/*


Chat container 



*/

.message-container {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    background:  #8e9094;
    padding-top: 5px;
}

.message-input-container {
    width: 100%;
    height: 10%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-input-container input {
    width: 70%;
    height: 50px;

}
.message-input-container button {
    width: 35;
    height: 30px;
    margin-left: 10px;
    align-self: center;
    white-space:nowrap;
    background-image: url('../images/send.png');
    background-repeat: no-repeat;
    background-size: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}
.chat-user-info {
    width: 100%;
    height: 50px;
    min-height: 30px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    background: #23313f;
    color: white;
   
}

.chat-user-info img {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.chat-user-info h2 {
    margin-top: 10px;
}

.single-message {
    width: 40%;
    min-width: 300px;
    max-width: 300px;
    background: #03a1fc;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 40px;
 
}

.single-message img {
    width: 30px;
    height: 10%;
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
    border-radius: 50%;
    margin: 10px;
    float: left;
}

.single-message p {
    width: 200px;
    overflow: hidden;
    padding-right: 10px;
    word-wrap: break-word;
    text-justify: auto;
    font-weight: 700;
}


.selected-room {
    background:  rgb(49, 114, 98);
    color: white;
}

.icon-offline {
    background-image: url('../images/grey-dot.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15px;
    width: 15px;
}
